<a href="https://colab.research.google.com/github/mishrasunny101/freecodecamp-intro-to-numpy/blob/master/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
L = [1,2,3,4]
type(L)

type(iter(L))
#L is iterable

iter(L)
#it is iterator

In [3]:
a = 2

for i in a:
  print(i)

# dir(a)

TypeError: ignored

In [6]:
T = [1,2,3]
dir(T)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [7]:
#how for loop works

num = [1,2,3,4]

for i in num:
  print(i)

1
2
3
4

In [12]:
num = [1,2,3]
#it is iterable

#fetches the iterator
#fetch using iter function
iter_num = iter(num)

#step 2 --> next
next(iter_num)
next(iter_num)
next(iter_num)
next(iter_num)

StopIteration: ignored

In [18]:
#making our own for loop
def mera_khudka_for_loop(iterable):

  iterator = iter(iterable)

  while True:

    try:
      print(next(iterator))
    except StopIteration:
      break

In [26]:
a = [1,2,3]
b = range(1,11)
c = (1,2,3)
e = {1,2,3}
e = {0:1, 1:1}

mera_khudka_for_loop(b)

1
2
3
4
5
6
7
8
9
10

In [27]:
num = [1,2,3]
iter_obj = iter(num)

print(id(iter_obj),'add of iterator 1')

iter_obj2 = iter(iter_obj)
print(id(iter_obj2),'add of iterator 2')

140575752285600 add of iterator 1
140575752285600 add of iterator 2

In [35]:
class mera_range:

  def __init__(self,start,end):
    self.start = start
    self.end = end

  def __iter__(self):
      return mera_range_iterator(self)

In [36]:
class mera_range_iterator:

  def __init__(self,iterable_obj):
    self.iterable = iterable_obj

  def __iter__(self):
    return self

  def __next__(self):

    if self.iterable.start >= self.iterable.end:
      raise StopIteration

    current = self.iterable.start
    self.iterable.start += 1
    return current

In [37]:
for i in mera_range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [28]:
class MyIterator:
    def __init__(self, iterable):
        self.iterable = iterable
        self.index = 0

    def __iter__(self):
        return self

    def __next__(self):
        if self.index < len(self.iterable):
            result = self.iterable[self.index]
            self.index += 1
            return result
        else:
            raise StopIteration

# Example usage
my_list = [1, 2, 3, 4, 5]
my_iterator = MyIterator(my_list)

for item in my_iterator:
    print(item)

1
2
3
4
5

In [29]:
def fibonacci_decorator(func):
    def wrapper(n):
        if n <= 0:
            return "Invalid input. Please provide a positive integer."
        elif n == 1:
            return 0
        elif n == 2:
            return 1
        else:
            return func(n)
    return wrapper

@fibonacci_decorator
def fibonacci(n):
    return fibonacci(n-1) + fibonacci(n-2)

# Usage example
print(fibonacci(10))  # Prints the 10th Fibonacci number

34

In [38]:
iter(x)

NameError: ignored